*{
    font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
      border: 0;
    }

:root {
    font-size: 60%;
    --vermelho: #E9493A;
    --preto: #E7E7E7;
    --branco: #DBBABD;
    --preta: #727272;
    --cinza: #998E8D;
}

.dark-mode:root {
    font-size: 60%;
  --vermelho: #737373;
  --preta: #ffffff;
  --preto: #ffffff;
  --branco: #000000;
  --cinza: #737373;
}

/* Logo */
.logo img{
    width:120px;
    margin-left: 40px;
    margin-top: 20px;
}
/* Body das paginas*/
body{
    background: var(--preta); /* Fundo*/
    color: var(--branco); /* Cor fonte*/
}

/* Classe principal*/
.principal{
    text-align: center; /* Alinhando elementos ao centro*/
    margin-top: 5%;
}

/* icon perfil*/
.icon-perfil{
    width: 15%; /* tamanho*/
    border-radius: 10%; /*Borda icones*/
    cursor: pointer; /* Configurando o tipo do cursor*/
    padding: 3px;
    margin-top: -2%;
}

.icon-perfil:hover{ /* contorno qunado passa o mouse*/
    border: 2px solid white;
}

/* Botão gerenciar perfil*/
.botao{
    margin-top: 20px;
    border: 2px solid gray;
    color: var(--cinza);
    background-color: var(--preta); /* Fundo*/
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

.botao:hover{
    color: white;
    border: 2px solid white;
}


/* --- ESTILO  PERFIL 1, PERFIL 2 --- */

/* RESET */


/* cabeçalho */
header .conteiner-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 20px;
}


header nav a{
    color: var(--branco);
    margin-right: 20px;
    font-size: 1.8rem;
}

header nav a:hover{
    color: var(--vermelho);
}

header nav a.selected{
    color: var(--vermelho);
}

/* CORPO - PRINCIPAL */
.conteiner-main{
    font-size: 2.2rem;
    text-align: justify;
    line-height: 3rem;
    background: linear-gradient(to bottom,rgba(0,0,0,.30),rgba(0,0,0,.8)100%), url(../img/plano_de_fundo_ozark.jpg); /* Deixa a imagem com um tom mais escuro */
    height: 450px;
    background-size: cover; /* Ajusta a imagem para o espaço disponivel */
    display: flex;
    flex-direction: column; /* Investe a ordem de direcionamento, deixando os elementos em coluna */
    justify-content: center; /* Segue a ordem de direção do flex-direction alinhando verticalmente */
    align-items: flex-start; /* Alinha horizontalmente */
    padding: 30px;
    overflow-y: auto;
}

.title{
    font-size: 50px;
    margin-top: 10%;
}

.conteiner-main .description{
    margin: 30px 0;
    max-width: 50%;
}

.botoes{
    display: flex;
}

.btn{
    width: 200px;
    height: 60px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0,0, .45);
    color: var(--branco);
    margin-right: 20px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 800ms ease-in-out all;   /* Tempo pra ocorrer o efeito */
}

.btn:hover{
    background-color: var(--branco);
    color: var(--preta);

}

/* CARROSEUL */

.group-box h1{
    margin: 20px 20px;
    font-weight: bolder;
}

.carousel {
    width: 90%;
    margin: 20px auto;
    outline: none;
    border: none;
    cursor: pointer;
  }

.carousel img{
    margin: 0 10px;
    outline: none;
    border: none;
}
